/* Common styles */
.nav-folder-title .tree-item-inner,
.nav-file-title .tree-item-inner {
	padding: 2px 6px;
	color: #ffffff;
}

/* Default folder children border */
.nav-folder:not([class*="nav-folder-title"]) > .nav-folder-title ~ .nav-folder-children { border-left: 1px solid #667eea; }

/* Folders */
.nav-folder-title {
}

/* Files */
.nav-file-title {
}

/* ===============
	Api
=============== */
.nav-folder-title[data-path$="/api"] .iconize-icon svg,
.nav-folder-title[data-path="api"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/api/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/api/" i] .iconize-icon svg { stroke: #05d270 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="api" i]) > .nav-folder-children { border-left: 1px solid #05d270 !important; }

/* ===============
	Assembly
=============== */
.nav-folder-title[data-path$="/assembly"] .iconize-icon svg,
.nav-folder-title[data-path="assembly"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/assembly/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/assembly/" i] .iconize-icon svg { stroke: #6e4c13 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="assembly" i]) > .nav-folder-children { border-left: 1px solid #6e4c13 !important; }

/* ===============
	Bash
=============== */
.nav-folder-title[data-path$="/bash"] .iconize-icon svg,
.nav-folder-title[data-path="bash"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/bash/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/bash/" i] .iconize-icon svg { stroke: #4eaa25 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="bash" i]) > .nav-folder-children { border-left: 1px solid #4eaa25 !important; }

/* ===============
	C language
=============== */
.nav-folder-title[data-path$="/C language"] .iconize-icon svg,
.nav-folder-title[data-path="C language"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/C language/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/C language/" i] .iconize-icon svg { stroke: #659AD2 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="C language" i]) > .nav-folder-children { border-left: 1px solid #659AD2 !important; }

/* ===============
	C#
=============== */
.nav-folder-title[data-path$="/C#"] .iconize-icon svg,
.nav-folder-title[data-path="C#"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/C#/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/C#/" i] .iconize-icon svg { stroke: #9179E4 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="C#" i]) > .nav-folder-children { border-left: 1px solid #9179E4 !important; }

/* ===============
	C++
=============== */
.nav-folder-title[data-path$="/c++"] .iconize-icon svg,
.nav-folder-title[data-path="c++"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/c++/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/c++/" i] .iconize-icon svg { stroke: #00599c !important; }
.nav-folder:has(> .nav-folder-title[data-path*="c++" i]) > .nav-folder-children { border-left: 1px solid #00599c !important; }

/* ===============
	Certbot
=============== */
.nav-folder-title[data-path$="/certbot"] .iconize-icon svg,
.nav-folder-title[data-path="certbot"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/certbot/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/certbot/" i] .iconize-icon svg { stroke: #ef3b39 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="certbot" i]) > .nav-folder-children { border-left: 1px solid #ef3b39 !important; }

/* ===============
	Chatgpt
=============== */
.nav-folder-title[data-path$="/chatgpt"] .iconize-icon svg,
.nav-folder-title[data-path="chatgpt"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/chatgpt/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/chatgpt/" i] .iconize-icon svg { stroke: #74aa9c !important; }
.nav-folder:has(> .nav-folder-title[data-path*="chatgpt" i]) > .nav-folder-children { border-left: 1px solid #74aa9c !important; }

/* ===============
	Css
=============== */
.nav-folder-title[data-path$="/css"] .iconize-icon svg,
.nav-folder-title[data-path="css"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/css/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/css/" i] .iconize-icon svg { stroke: #1572b6 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="css" i]) > .nav-folder-children { border-left: 1px solid #1572b6 !important; }

/* ===============
	Docker
=============== */
.nav-folder-title[data-path$="/docker"] .iconize-icon svg,
.nav-folder-title[data-path="docker"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/docker/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/docker/" i] .iconize-icon svg { stroke: #2496ed !important; }
.nav-folder:has(> .nav-folder-title[data-path*="docker" i]) > .nav-folder-children { border-left: 1px solid #2496ed !important; }

/* ===============
	Emagma
=============== */
.nav-folder-title[data-path$="/emagma"] .iconize-icon svg,
.nav-folder-title[data-path="emagma"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/emagma/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/emagma/" i] .iconize-icon svg { stroke: #e41c24 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="emagma" i]) > .nav-folder-children { border-left: 1px solid #e41c24 !important; }

/* ===============
	Firefox
=============== */
.nav-folder-title[data-path$="/firefox"] .iconize-icon svg,
.nav-folder-title[data-path="firefox"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/firefox/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/firefox/" i] .iconize-icon svg { stroke: #ff7139 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="firefox" i]) > .nav-folder-children { border-left: 1px solid #ff7139 !important; }

/* ===============
	Gdscript
=============== */
.nav-folder-title[data-path$="/gdscript"] .iconize-icon svg,
.nav-folder-title[data-path="gdscript"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/gdscript/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/gdscript/" i] .iconize-icon svg { stroke: #478cbf !important; }
.nav-folder:has(> .nav-folder-title[data-path*="gdscript" i]) > .nav-folder-children { border-left: 1px solid #478cbf !important; }

/* ===============
	Gemini
=============== */
.nav-folder-title[data-path$="/gemini"] .iconize-icon svg,
.nav-folder-title[data-path="gemini"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/gemini/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/gemini/" i] .iconize-icon svg { stroke: #4285F4 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="gemini" i]) > .nav-folder-children { border-left: 1px solid #4285F4 !important; }

/* ===============
	Git
=============== */
.nav-folder-title[data-path$="/git"] .iconize-icon svg,
.nav-folder-title[data-path="git"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/git/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/git/" i] .iconize-icon svg { stroke: #f05032 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="git" i]) > .nav-folder-children { border-left: 1px solid #f05032 !important; }

/* ===============
	Html
=============== */
.nav-folder-title[data-path$="/html"] .iconize-icon svg,
.nav-folder-title[data-path="html"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/html/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/html/" i] .iconize-icon svg { stroke: #e34f26 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="html" i]) > .nav-folder-children { border-left: 1px solid #e34f26 !important; }

/* ===============
	Javascript
=============== */
.nav-folder-title[data-path$="/javascript"] .iconize-icon svg,
.nav-folder-title[data-path="javascript"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/javascript/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/javascript/" i] .iconize-icon svg { stroke: #f7df1e !important; }
.nav-folder:has(> .nav-folder-title[data-path*="javascript" i]) > .nav-folder-children { border-left: 1px solid #f7df1e !important; }

/* ---
	Angular
--- */
.nav-folder-title[data-path*="javascript/angular" i] .iconize-icon svg,
.nav-folder-title[data-path*="javascript/angular" i] .iconize-icon svg *,
.nav-file-title[data-path*="javascript/angular" i] .iconize-icon svg,
.nav-file-title[data-path*="javascript/angular" i] .iconize-icon svg * {fill: #df3c47 !important; stroke: none !important;}

/* ---
	Mermaid
--- */
.nav-file-title[data-path*="Javascript/Mermaid" i] .iconize-icon svg *,
.nav-folder-title[data-path*="Javascript/Mermaid/" i] .iconize-icon svg * { stroke: #ff3785 !important; fill: none !important; }
.nav-folder:has(> .nav-folder-title:is([data-path$="Javascript/Mermaid"], [data-path*="Javascript/Mermaid/"])) > .nav-folder-children { border-left: 1px solid #ff3785 !important; }
.nav-folder-title[data-path$="Javascript/Mermaid"] .iconize-icon svg * { fill: #ff3785 !important; stroke: none !important; }

/* ---
	Lucid
--- */
.nav-file-title[data-path*="Javascript/Lucid" i] .iconize-icon svg *,
.nav-folder-title[data-path*="Javascript/Lucid/" i] .iconize-icon svg * { stroke: #4299ff !important; fill: none !important; }
.nav-folder:has(> .nav-folder-title:is([data-path$="Javascript/Lucid"], [data-path*="Javascript/Lucid/"])) > .nav-folder-children { border-left: 1px solid #4299ff !important; }
.nav-folder-title[data-path$="Javascript/Lucid"] .iconize-icon svg * { fill: #4299ff !important; stroke: none !important; }

/* ---
	React
--- */
.nav-file-title[data-path*="Javascript/React" i] .iconize-icon svg *,
.nav-folder-title[data-path*="Javascript/React/" i] .iconize-icon svg * { stroke: #61dbfb !important; fill: none !important; }
.nav-folder:has(> .nav-folder-title:is([data-path$="Javascript/React"], [data-path*="Javascript/React/"])) > .nav-folder-children { border-left: 1px solid #61dbfb !important; }
.nav-folder-title[data-path$="Javascript/React"] .iconize-icon svg * { fill: #61dbfb !important; stroke: none !important; }

/* ---
	React native
--- */
.nav-file-title[data-path*="Javascript/React_native" i] .iconize-icon svg *,
.nav-folder-title[data-path*="Javascript/React_native/" i] .iconize-icon svg * { stroke: #4299ff !important; fill: none !important; }
.nav-folder:has(> .nav-folder-title:is([data-path$="Javascript/React_native"], [data-path*="Javascript/React_native/"])) > .nav-folder-children { border-left: 1px solid #4299ff !important; }
.nav-folder-title[data-path$="Javascript/React_native"] .iconize-icon svg * { stroke: #4299ff !important; fill: none !important; }

/* ---
	Vue
--- */
.nav-file-title[data-path*="Javascript/Vue" i] .iconize-icon svg *,
.nav-folder-title[data-path*="Javascript/Vue/" i] .iconize-icon svg * { stroke: #41b883 !important; fill: none !important; }
.nav-folder:has(> .nav-folder-title:is([data-path$="Javascript/Vue"], [data-path*="Javascript/Vue/"])) > .nav-folder-children { border-left: 1px solid #41b883 !important; }
.nav-folder-title[data-path$="Javascript/Vue"] .iconize-icon svg * { stroke: #41b883 !important; fill: none !important; }

/* ===============
	Licences
=============== */
.nav-folder-title[data-path$="/licences"] .iconize-icon svg,
.nav-folder-title[data-path="licences"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/licences/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/licences/" i] .iconize-icon svg { stroke: #d4af37 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="licences" i]) > .nav-folder-children { border-left: 1px solid #d4af37 !important; }

/* ===============
	Linux
=============== */
.nav-folder-title[data-path$="/linux"] .iconize-icon svg,
.nav-folder-title[data-path="linux"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/linux/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/linux/" i] .iconize-icon svg { stroke: #fcc624 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="linux" i]) > .nav-folder-children { border-left: 1px solid #fcc624 !important; }

/* ---
	Arch linux
--- */
.nav-file-title[data-path*="Linux/Arch" i] .iconize-icon svg *,
.nav-folder-title[data-path*="linux/Arch/" i] .iconize-icon svg * { stroke: #1793d1 !important; fill: none !important; }
.nav-folder:has(> .nav-folder-title:is([data-path$="Linux/Arch"], [data-path*="Linux/Arch/"])) > .nav-folder-children { border-left: 1px solid #1793d1 !important; }
.nav-folder-title[data-path$="Linux/Arch"] .iconize-icon svg * { fill: #1793d1 !important; stroke: none !important; }

/* ---
	Yubico
--- */
.nav-file-title[data-path*="Linux/Yubico" i] .iconize-icon svg *,
.nav-folder-title[data-path*="linux/Yubico/" i] .iconize-icon svg * { fill: #7dc242 !important; stroke: none !important; }
.nav-folder:has(> .nav-folder-title:is([data-path$="Linux/Yubico"], [data-path*="Linux/Yubico/"])) > .nav-folder-children { border-left: 1px solid #7dc242 !important; }
.nav-folder-title[data-path$="Linux/Yubico"] .iconize-icon svg * { fill: #7dc242 !important; stroke: none !important; }

/* ===============
	LLM
=============== */
.nav-folder-title[data-path$="/llm"] .iconize-icon svg,
.nav-folder-title[data-path="llm"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/llm/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/llm/" i] .iconize-icon svg { stroke: #06b6d4 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="llm" i]) > .nav-folder-children { border-left: 1px solid #06b6d4 !important; }

/* ---
	Claude
--- */
.nav-file-title[data-path*="LLM/Claude" i] .iconize-icon svg *,
.nav-folder-title[data-path*="LLM/Claude/" i] .iconize-icon svg * { fill: #D97757 !important; stroke: none !important; }
.nav-folder:has(> .nav-folder-title:is([data-path$="LLM/Claude"], [data-path*="LLM/Claude/"])) > .nav-folder-children { border-left: 1px solid #D97757 !important; }
.nav-folder-title[data-path$="LLM/Claude"] .iconize-icon svg * { fill: #D97757 !important; stroke: none !important; }

/* ===============
	Lua
=============== */
.nav-folder-title[data-path$="/lua"] .iconize-icon svg,
.nav-folder-title[data-path="lua"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/lua/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/lua/" i] .iconize-icon svg { stroke: #000080 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="lua" i]) > .nav-folder-children { border-left: 1px solid #000080 !important; }

/* ===============
	Markdown
=============== */
.nav-folder-title[data-path$="/markdown"] .iconize-icon svg,
.nav-folder-title[data-path="markdown"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/markdown/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/markdown/" i] .iconize-icon svg { stroke: #ffffff !important; }
.nav-folder:has(> .nav-folder-title[data-path*="markdown" i]) > .nav-folder-children { border-left: 1px solid #ffffff !important; }

/* ===============
	Mistral
=============== */
.nav-folder-title[data-path$="/mistral"] .iconize-icon svg,
.nav-folder-title[data-path="mistral"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/mistral/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/mistral/" i] .iconize-icon svg { stroke: #FF7000 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="mistral" i]) > .nav-folder-children { border-left: 1px solid #FF7000 !important; }

/* ===============
	Obsidian
=============== */
.nav-folder-title[data-path$="/obsidian"] .iconize-icon svg,
.nav-folder-title[data-path="obsidian"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/obsidian/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/obsidian/" i] .iconize-icon svg { stroke: #8B5CF6 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="obsidian" i]) > .nav-folder-children { border-left: 1px solid #8B5CF6 !important; }

/* ===============
	Perplexity
=============== */
.nav-folder-title[data-path$="/perplexity"] .iconize-icon svg,
.nav-folder-title[data-path="perplexity"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/perplexity/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/perplexity/" i] .iconize-icon svg { stroke: #20808D !important; }
.nav-folder:has(> .nav-folder-title[data-path*="perplexity" i]) > .nav-folder-children { border-left: 1px solid #20808D !important; }

/* ===============
	Php
=============== */
.nav-folder-title[data-path$="/php"] .iconize-icon svg,
.nav-folder-title[data-path="php"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/php/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/php/" i] .iconize-icon svg { stroke: #777BB3 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="php" i]) > .nav-folder-children { border-left: 1px solid #777BB3 !important; }

/* ===============
	Programation
=============== */
.nav-folder-title[data-path$="/programation"] .iconize-icon svg,
.nav-folder-title[data-path="programation"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/programation/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/programation/" i] .iconize-icon svg { stroke: #a78bfa; }
.nav-folder:has(> .nav-folder-title[data-path*="programation" i]) > .nav-folder-children { border-left: 1px solid #a78bfa; }

/* ===============
	Python
=============== */
.nav-folder-title[data-path$="/python"] .iconize-icon svg,
.nav-folder-title[data-path="python"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/python/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/python/" i] .iconize-icon svg { stroke: #306998 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="python" i]) > .nav-folder-children { border-left: 1px solid #306998 !important; }

/* ===============
	Rust
=============== */
.nav-folder-title[data-path$="/rust"] .iconize-icon svg,
.nav-folder-title[data-path="rust"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/rust/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/rust/" i] .iconize-icon svg { stroke: #dea584 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="rust" i]) > .nav-folder-children { border-left: 1px solid #dea584 !important; }

/* ===============
	Software
=============== */
.nav-folder-title[data-path$="/software"] .iconize-icon svg,
.nav-folder-title[data-path="software"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/software/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/software/" i] .iconize-icon svg { stroke: #7c8db5 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="software" i]) > .nav-folder-children { border-left: 1px solid #7c8db5 !important; }

/* ===============
	Sql
=============== */
.nav-folder-title[data-path$="/sql"] .iconize-icon svg,
.nav-folder-title[data-path="sql"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/sql/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/sql/" i] .iconize-icon svg { stroke: #cc7832 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="sql" i]) > .nav-folder-children { border-left: 1px solid #cc7832 !important; }

/* ===============
	Sublime Text
=============== */
.nav-folder-title[data-path$="/sublime text"] .iconize-icon svg,
.nav-folder-title[data-path="sublime text"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/sublime text/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/sublime text/" i] .iconize-icon svg { stroke: #ff9800 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="sublime text" i]) > .nav-folder-children { border-left: 1px solid #ff9800 !important; }

/* ===============
	Sylius
=============== */
.nav-folder-title[data-path$="/sylius"] .iconize-icon svg,
.nav-folder-title[data-path="sylius"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/sylius/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/sylius/" i] .iconize-icon svg { stroke: #22B99A !important; }
.nav-folder:has(> .nav-folder-title[data-path*="sylius" i]) > .nav-folder-children { border-left: 1px solid #22B99A !important; }

/* ===============
	Symfony
=============== */
.nav-folder-title[data-path$="/symfony"] .iconize-icon svg,
.nav-folder-title[data-path="symfony"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/symfony/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/symfony/" i] .iconize-icon svg { stroke: #ffffff !important; }
.nav-folder:has(> .nav-folder-title[data-path*="symfony" i]) > .nav-folder-children { border-left: 1px solid #ffffff !important; }

/* ===============
	Typescript
=============== */
.nav-folder-title[data-path$="/typescript"] .iconize-icon svg,
.nav-folder-title[data-path="typescript"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/typescript/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/typescript/" i] .iconize-icon svg { stroke: #3178C6 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="typescript" i]) > .nav-folder-children { border-left: 1px solid #3178C6 !important; }

/* ===============
	Ubuntu
=============== */
.nav-folder-title[data-path$="/ubuntu"] .iconize-icon svg,
.nav-folder-title[data-path="ubuntu"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/ubuntu/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/ubuntu/" i] .iconize-icon svg { stroke: #E95420 !important; }
.nav-folder:has(> .nav-folder-title[data-path*="ubuntu" i]) > .nav-folder-children { border-left: 1px solid #E95420 !important; }

/* ===============
	Windows
=============== */
.nav-folder-title[data-path$="/windows"] .iconize-icon svg,
.nav-folder-title[data-path="windows"] .iconize-icon svg { stroke: #00000000 !important; }
.nav-file-title[data-path*="/windows/" i] .iconize-icon svg,
.nav-folder-title[data-path*="/windows/" i] .iconize-icon svg { stroke: #00a4ef !important; }
.nav-folder:has(> .nav-folder-title[data-path*="windows" i]) > .nav-folder-children { border-left: 1px solid #00a4ef !important; }