/* ========== Notes ========== */
/* Style of all notes */
.nav-files-container {
border-left: 3px solid rgba(255, 255, 255, 0.1);
  padding-left: 6px;
}

/* Colour of notes */
.nav-files-container .nav-file:nth-child(11n + 2) {
  --folder-color: rgba(137, 220, 235, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 3) {
  --folder-color: rgba(116, 199, 236, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 4) {
  --folder-color: rgba(135, 176, 249, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 5) {
  --folder-color: rgba(180, 190, 254, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 6) {
  --folder-color: rgba(203, 166, 247, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 7) {
  --folder-color: rgba(245, 140, 130, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 8) {
  --folder-color: rgba(235, 160, 172, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 9) {
  --folder-color: rgba(250, 179, 135, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 10) {
  --folder-color: rgba(249, 226, 175, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 11) {
  --folder-color: rgba(166, 227, 161, 0.95);
}
.nav-files-container .nav-file:nth-child(11n + 12) {
  --folder-color: rgba(148, 226, 213, 0.95);
}

/* Active note */
.nav-file-title.is-active {
  color: black;
  font-weight: 700;
  font-style: italic;
}
.nav-file-title.is-active::before {
  content: "👉";
  font-weight: 700;
  font-style: italic;
}
.nav-file-title.is-active::after {
  content: "👈";
  font-weight: 700;
  font-style: italic;
}


/* ========== Folders + Notes ========== */
/* Hover effect */
.nav-files-container .nav-file:hover,
.nav-files-container .nav-folder:hover {
  filter: saturate(1.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.6), 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in-out;
}


/* ========== Folders  ========== */
/* Style of all folders */
.nav-files-container .nav-file, /* Notes */
.nav-files-container .nav-folder /* Dossiers */ {
  background-color: var(--folder-color);
  --nav-item-color: black;
  --nav-item-color-hover: black;
  --nav-collapse-icon-color: black;
  border-radius: 6px;
  transition: transform 0.2s ease, box-shadow 0.5s ease;
}

/* 1st folder level */
.nav-files-container > div > .nav-folder:nth-child(12n + 2) {
  --folder-color: rgb(251, 128, 114);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 3) {
  --folder-color: rgb(141, 211, 199);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 4) {
  --folder-color: rgb(255, 255, 179);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 5) {
  --folder-color: rgb(190, 186, 218);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 6) {
  --folder-color: rgb(128, 177, 211);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 7) {
  --folder-color: rgb(253, 180, 98);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 8) {
  --folder-color: rgb(179, 222, 105);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 9) {
  --folder-color: rgb(252, 205, 229);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 10) {
  --folder-color: rgb(217, 217, 217);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 11) {
  --folder-color: rgb(188, 128, 189);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 12) {
  --folder-color: rgb(204, 235, 197);
}
.nav-files-container > div > .nav-folder:nth-child(12n + 13) {
  --folder-color: rgb(255, 237, 111);
}

/* 2nd folder level */
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 2) {
  --folder-color: rgb(137, 220, 235);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 3) {
  --folder-color: rgb(116, 199, 236);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 4) {
  --folder-color: rgb(135, 176, 249);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 5) {
  --folder-color: rgb(180, 190, 254);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 6) {
  --folder-color: rgb(203, 166, 247);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 7) {
  --folder-color: rgb(245, 140, 130);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 8) {
  --folder-color: rgb(235, 160, 172);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 9) {
  --folder-color: rgb(250, 179, 135);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 10) {
  --folder-color: rgb(249, 226, 175);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 11) {
  --folder-color: rgb(166, 227, 161);
}
.nav-files-container .nav-folder-children > .nav-folder:nth-child(11n + 12) {
  --folder-color: rgb(148, 226, 213);
}